<!-- POP UP WINDOW FOR REGISTRATION -->
<article class="modal fade registration-window">
    <div class="modal-dialog">
        <div class="modal-content">

            <section class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign Up</h4>
            </section>

            <section class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="New Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="New Password">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="University (optional)">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Department (optional)">
                    </div>

                </form>
            </section>

            <div class="modal-footer">
                <button class="btn">Submit</button>
            </div>

        </div>
    </div>
</article>