<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solutions Repo</title>

    <!--ORDER IS IMPORTANT DO NOT SHIFT-->

    <!--Custom CSS Files-->
    <link href="/assets/css/min/style.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style768.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/style1024.min.css" rel="stylesheet" type="text/css">

    <!--Bootstrap File-->
    <link rel="stylesheet" href="/assets/css/min/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/min/creative.min.css">
    <link rel="stylesheet" href="/assets/css/min/typeheadjs.min.css" title="typehead css" type="text/css">
    <!-- Partial Scripts, Order important -->
    {{# if userProfile}}
        <link href="/assets/css/min/user_profile.css" rel="stylesheet" type="text/css">
    {{/if}}

    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          rel="stylesheet"
          integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
          crossorigin="anonymous">

    <!--JS-->
    <script type="text/javascript" src="/assets/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/typeaheadPlusBloodhound.js"></script>

    <script src="/assets/js/script.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    {{# if userProfile}}
        <script src="/assets/js/user_profile.js"></script>
    {{/if}}
    {{# if adminPanel}}
        <script src="/assets/js/admin_panel.js"></script>
    {{/if}}
    {{# if homePage }}
        <script type="text/javascript" src="/assets/js/home_page.js"></script>
    {{/if}}

</head>
<body>
    {{# if noHeader}}
    {{else}}
        {{> header }}
    {{/if}}

    {{{ body }}}
    {{# if noFooter}}
    {{else}}
        {{> footer }}
    {{/if}}

</body>
</html>
