<main id = 'solutions-main'>
    <section class = 'search container'>
        <!-- Contributor Details -->
        <section class="abt-content">
            <h3 class="">About Us</h3>
            <p class="about-p">
                We are students from the University of Toronto.
            </p>
            <h4 class="abt-name">Nargiza Nosirova</h4>
                <p>Occupation: Student</p>
                <p>Department: CS</p>
                <p>Email: nargiza.nosirova@mail.utoronto.ca</p>
            <h4 class="abt-name">Waref Haque</h4>
                <p>Occupation: Student</p>
                <p>Department: ECE</p>
                <p>Email: w.haque@mail.utoronto.ca</p>
            <h4 class="abt-name">Pradyumn (Kumar) Damani</h4>
                <p>Occupation: Student</p>
                <p>Department: CS</p>
                <p>Email: kumar.damani@mail.utoronto.ca</p>
            <h4 class="abt-name">Humair Khan</h4>
                <p>Occupation: Student</p>
                <p>Department: CS</p>
                <p>Email: humair.khan@mail.utoronto.ca</p>
        </section>
        </section>
</main>