<header>
	<div class="header-content">

		<form action="/search" method="get">
			<section class="header-content-inner">
				<p><strong>The solutions to all your problems</strong></p>
				<hr> <!-- Divider -->
				<div class="search col-md-8 col-lg-8 col-md-offset-2">
					<!-- Search-bar, Drop-down and Prompt -->
					<div class="input-group">
						<!-- Search Category Drop-Down -->
						<div class="input-group-btn">
							<button type="button"
                                    class="btn btn-default dropdown-toggle search-button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                Courses
                                <span class="caret"></span>
                            </button>
							<ul class="dropdown-menu">
								<li><a href="#">Courses</a></li>
								<li><a href="#">Users</a> </li>
							</ul>
						</div>

						<!-- Search bar -->
						<input type="text"
                               id = "user-input"
                               class="form-control"
                               aria-label="..."
                               name="search"
                               placeholder="Enter course name">
						<!-- Prompt Search -->
					<span class="input-group-btn">
						<button id = 'go-button'
                                class="btn btn-default search-button go-button"
                                type="submit">Go!</button>
					</span>
					</div>
				</div>
				<!-- Site Desciprtion -->
				<h5 class="home-intro">
					Solutions.repo is a community driven service that provides visitors
					with solutions to past UofT Exams.
				</h5>
			</section>
		</form>
	</div>
</header>
