<header>


	<div class="header-content">

		<form action="/search/courses" method="get" id="search-field">
			<section class="header-content-inner">
				<p><strong>The solutions to all your problems</strong></p>
				<hr> <!-- Divider -->
				<div class="search col-md-8 col-lg-8 col-md-offset-2">
					<!-- Search-bar, Drop-down and Prompt -->
                    {{# if messages.error }}
                        <section class="alert alert-danger custom-Alert">
                            <h4>{{ messages.error }}</h4>
                        </section>
                    {{/if}}

                    {{# if success }}
                        <section class="alert alert-success">
                            <!-- Change those to banners later -->
                            <h2>Signup Successful!</h2>
                        </section>
                    {{ else }}
                        {{# if errors }}
                            <section class="alert alert-danger">
                                <ul>
                                    {{# each errors }}
                                        <li>{{ this.msg }}</li>
                                    {{/each}}
                                </ul>
                            </section>
                        {{/if}}
                    {{/if}}
                    {{#if flashMsg}}
                        <section class="alert alert-danger">
                            {{flashMsg}}
                        </section>
                    {{/if}}


                    <div class="input-group">
						<!-- Search Category Drop-Down -->
						<div class="input-group-btn">
							<button type="button"
                                    class="btn btn-default dropdown-toggle search-button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false" id="search-drop-down">
                                <span id="drop-down-value">Courses</span>
                                <span class="caret"></span>
                            </button>
							<ul class="dropdown-menu" id="search-type">

                                <!-- add classes to <a> refs, on click, check texts, hide/adjust,
                       change action etc. accordingly -->

                                <li><a href="#" class="search-menu">Courses</a></li>
								<li><a href="#" class="search-menu">Users</a> </li>
							</ul>
						</div>

            <div id="custom-autocomplete">
              <!-- Search bar -->
              <input type="text"
                                 id = "user-input"
                                 class="form-control typeahead"
                                 aria-label="..."
                                 name="search"
                                 placeholder="Enter course code eg. CSC148">
            </div>
						<!-- Prompt Search -->
					    <span class="input-group-btn">
                            <button id = 'go-button'
                                    class="btn btn-default search-button go-button"
                                    type="submit">Go!</button>
					    </span>
					</div>
				</div>
				<!-- Site Description -->
				<h5 class="home-intro">
					Solutions.repo is a community driven service that provides visitors
					with solutions to past UofT Exams.
				</h5>
			</section>
		</form>
	</div>
</header>
