<main id = 'solutions-main'>
    <div class = 'search container' id = 'solutions-div'>
    <h3> Privacy Policy </h3>
        <p>We do not use your personal information other than to improve the services of our website.</p>
        <p>We do not distribute your personal information to any outside source. </p>
        <p>You have the ability to request any change to be made to remove your information and we will respond promptly.</p>
        <p>We will never force you to provide use with any sort of credit card or other payment info.</p>
        <p>We do not serve 3rd party ads.</p>
        <p>We do not make changes to any of your personal information without notifying you first, although we do reserve the right to do so.</p>
    </div>

</main>
