<main id = 'solutions-main'>
    <div class = 'search container' id = 'solutions-div'>

            <!-- EXAM DETAILS -->

            <a href="http://www.cs.toronto.edu/~fpitt/CSC148/20131/tests/test1-0101.pdf" target='_blank'><img src="assets/images/exam.png" class='exam-img img-responsive exam-info'></a>

            <section class='exam-info'>
                <h3>CSC148</h3>
                <p>Winter 2015 exam</p>
                <p><em>Instructor(s): </em>Fairgrieve and Hangerman </p>
                <p><em>Upload date:</em> 2016-07-08</p>
                <p><em>Uploaded by:</em> John Smith</p>
                <p><em>Page count:</em> 22</p>
                <p><em>Question count:</em> 10</p>
            </section>

            <!-- QUESTION LISTINGS -->

            <a href="/user_solutions">
            <section class = 'solutions-card row'>
                <div class='pull-left col-sm-8 col-md-8'>
                    <h3 class = 'questions-number'>Question 1</h3>
                    <p><span class='questions-sol-num'>2 solutions, </span> <span class = 'questions-comment'>6 comments</span></p>
                </div>
                <div class='pull-right right-arrow'>
                    <img class='rounded' src="assets/images/right-arrow.png">
                </div>
            </section>
            </a>

            <a href="/user_solutions">
            <section class = 'solutions-card row'>
                <div class='pull-left col-sm-8 col-md-8'>
                    <h3 class = 'questions-number'>Question 2</h3>
                    <p><span class='questions-sol-num'>1 solution, </span> <span class = 'questions-comment'>2 comments</span></p>
                </div>
                <div class='pull-right right-arrow'>
                    <img class='rounded' src="assets/images/right-arrow.png">
                </div>
            </section>
            </a>

            <a href="/user_solutions">
            <section class = 'solutions-card row'>
                <div class='pull-left col-sm-8 col-md-8'>
                    <h3 class = 'questions-number'>Question 3</h3>
                    <p><span class='questions-sol-num'>1 solution, </span> <span class = 'questions-comment'>2 comments</span></p>
                </div>
                <div class='pull-right right-arrow'>
                    <img class='rounded' src="assets/images/right-arrow.png">
                </div>

            </section>
            </a>

            <a href="/user_solutions">
            <section class = 'solutions-card row'>
                <div class='pull-left col-sm-8 col-md-8'>
                    <h3 class = 'questions-number'>Question 4</h3>
                    <p><span class='questions-sol-num'>3 solutions, </span> <span class = 'questions-comment'>2 comments</span></p>
                </div>
                <div class='pull-right right-arrow'>
                    <img class='rounded' src="assets/images/right-arrow.png">
                </div>
            </section>
            </a>

            <a href="/user_solutions">
            <section class = 'solutions-card row'>
                <div class='pull-left col-sm-8 col-md-8'>
                    <h3 class = 'questions-number'>Question 5</h3>
                    <p><span class='questions-sol-num'>0 solutions </span> <span class = 'questions-comment'></span></p>
                </div>
                <div class='pull-right right-arrow'>
                    <img class='rounded' src="assets/images/right-arrow.png">
                </div>
            </section>
            </a>
    </div>
</main>
