<main id="solutions-main">

<div class="row" id="solutions-main">

    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        {{# if success }}
            <section class="alert alert-success">
                <!-- Change those to banners later -->
                <h2>Signup Successful!</h2>
            </section>
        {{ else }}
            {{# if errors }}
                <section class="alert alert-danger">
                     <ul>
                        {{# each errors }}
                            <li>{{ this.msg }}</li>
                        {{/each}}
                    </ul>
                </section>
            {{/if}}
        {{/if}}
        {{#if flashMsg}}
        <section class="alert alert-danger">
            {{flashMsg}}
        </section>
        {{/if}}



        <h3><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</h3>
        <form action="/user/signup" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name" name="fname">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" name="lname">
            </div>

            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="New Username" name="usrname">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="New Password" name="password">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone Number (optional)" name="phone_num">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="University (optional)" name="univ">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Department (optional)" name="dept">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="signup" class="btn btn-primary">Sign Up</button>
        </form>
    </div>

</div>

</main>