<main id="solutions-main">

<div class="row" id="solutions-main">

    <div class="slate signup-page col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
        <div class="container">
        {{# if success }}
            <section class="alert alert-success">
                <!-- Change those to banners later -->
                <h2>Signup Successful!</h2>
            </section>
        {{ else }}
            {{# if errors }}
                <section class="alert alert-danger">
                     <ul>
                        {{# each errors }}
                            <li>{{ this.msg }}</li>
                        {{/each}}
                    </ul>
                </section>
            {{/if}}
        {{/if}}
        {{#if flashMsg}}
        <section class="alert alert-danger">
            {{flashMsg}}
        </section>
        {{/if}}



        <h3 class="signup"><hr><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up<hr></h3>
        <form action="/user/signup" method="post">
            <div class="form-group signup-group ">
                <div class="input-group input-group-lg">
                    <div class="input-group-addon addon-fname">
                        <i class="fa fa-male" aria-hidden="true"></i>
                    </div>
                    <input type="text" class="form-control input-fname" placeholder="first name" name="fname">
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-addon">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                    </div>
                    <input type="text" class="form-control input-lname" placeholder="last name" name="lname">
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-addon">
                        <i class="fa fa-at" aria-hidden="true"></i>
                    </div>
                    <input type="email" class="form-control input-email" placeholder="email" name="email">
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-addon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <input type="text" class="form-control input-username-signin" placeholder="username" name="usrname">
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-addon">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                    <input type="password" class="form-control input-new-password" placeholder="password" name="password">
                </div>

                <div class="input-group input-group-lg">
                    <div class="input-group-addon">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                    <input type="password" class="form-control input-confirm" placeholder="confirm password" name="confirmPassword">
                </div>

                <div class="input-group input-group-lg">
                    <div class="input-group-addon">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                    </div>
                    <input type="number" class="form-control input-phone" placeholder="phone number (optional)" name="phone_num">
                </div>

                <div class="input-group input-group-lg">
                    <div class="input-group-addon">
                        <i class="fa fa-university" aria-hidden="true"></i>
                    </div>
                    <input type="text" class="form-control input-univ" placeholder="university (optional)" name="univ">
                </div>

                <div class="input-group input-group-lg">
                    <div class="input-group-addon addon-dept">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </div>
                    <input type="text" class="form-control input-dept" placeholder="department (optional)" name="dept">
                </div>
            </div>


            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button class="signup-btn btn-lg btn btn-primary btn-block">Sign Up</button>
        </form>
        </div>
    </div>

</div>

</main>