<main id = 'solutions-main'>
    <div class = 'search container' id = 'solutions-div'>
        <h3>Welcome to Solutions Repo!</h3>
        <p>These terms and conditions outline the rules and regulations for the use of  Solutions Repo's Website. <br >

        By accessing this website we assume you accept these terms and conditions in full. Do not continue to use Solutions Repo's website if you do not accept all of the terms and conditions stated on this page.
        </p>
        <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements: "Client", “You” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions. "The Company", “Ourselves”, “We”, “Our” and "Us", refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services/products, in accordance with and subject to, prevailing law of Canada. Any use of the above terminology or other words in the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>

        <h3>Cookies</h3>
        <p>We employ the use of cookies. By using <a href="http://frozen-springs-49303.herokuapp.com/" onclick="__gaTracker('send', 'event', 'outbound-article', 'http://frozen-springs-49303.herokuapp.com/', 'Solutions Repo');" title="Solutions Repo">Solutions Repo</a>'s website you consent to the use of cookies in accordance with Solutions Repo’s privacy policy.</p>
        <p>Most of the modern day interactive web sites use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate / advertising partners may also use cookies.</p>

        <h3>License</h3>
        <p>Unless otherwise stated, Solutions Repo and/or it’s licensors own the intellectual property rights for all material on Solutions Repo All intellectual property rights are reserved. You may view and/or print pages from http://frozen-springs-49303.herokuapp.com/ for your own personal use subject to restrictions set in these terms and conditions.</p>
        <p>You must not:</p>
        <ul>
            <li>Republish material from http://frozen-springs-49303.herokuapp.com/</li>
            <li>Sell, rent or sub-license material from http://frozen-springs-49303.herokuapp.com/</li>
            <li>Reproduce, duplicate or copy material from http://frozen-springs-49303.herokuapp.com/</li>
        </ul>
        <p>Redistribute content from Solutions Repo (unless content is specifically made for redistribution).</p>

        <h3>User Comments</h3>
        <ol>
            <li>This Agreement shall begin on the date hereof.</li>
            <li>Certain parts of this website offer the opportunity for users to post and exchange opinions, information, material and data ('Comments') in areas of the website. Solutions Repo does not screen, edit, publish or review Comments prior to their appearance on the website and Comments do not reflect the views or opinions of Solutions Repo, its agents or affiliates. Comments reflect the view and opinion of the person who posts such view or opinion. To the extent permitted by applicable laws Solutions Repo shall not be responsible or liable for the Comments or for any loss cost, liability, damages or expenses caused and or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</li>
            <li>Solutions Repo reserves the right to monitor all Comments and to remove any Comments which it considers in its absolute discretion to be inappropriate, offensive or otherwise in breach of these Terms and Conditions.</li>
            <li>You warrant and represent that:
                <ol>
                    <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
                    <li>The Comments do not infringe any intellectual property right, including without limitation copyright, patent or trademark, or other proprietary right of any third party;</li>
                    <li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material or material which is an invasion of privacy</li>
                    <li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
                </ol>
            </li>
        </ol>


        <h3>Content Liability</h3>
        <p>We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any page on your Web site or within any context containing content or materials that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>

        <h3>Reservation of Rights</h3>
        <p>We reserve the right at any time and in its sole discretion to request that you remove all links or any particular link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also reserve the right to amend these terms and conditions and its linking policy at any time. By continuing to link to our Web site, you agree to be bound to and abide by these linking terms and conditions.</p>

        <h3>Removal of links from our website</h3>
        <p>If you find any link on our Web site or any linked web site objectionable for any reason, you may contact us about this. We will consider requests to remove links but will have no obligation to do so or to respond directly to you.</p>
        <p>Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we commit to ensuring that the website remains available or that the material on the website is kept up to date.</p>

        <h3>Disclaimer</h3>
        <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer will:</p>

        <ol>
            <li>limit or exclude our or your liability for death or personal injury resulting from negligence;</li>
            <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
            <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
            <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
        </ol>
        <p>The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty.</p>
        <p>To the extent that the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>

    </div>
</main>
