<main id="solutions-main">
<div class="container user-info-content">
<div class="row">

<!-- User Profile details -->
<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-xs-offset-0 col-sm-offset-0">

    <!-- Title -->
    <div class="row u-title">
        <h1><i class="fa fa-user" aria-hidden="true"></i> Account</h1>
    </div>

    <!-- Error Message Check/Display -->
    {{# if messages.success }}
        <section class="alert alert-success">
            <!-- Change those to banners later -->
            <h3>{{ messages.success }}</h3>
        </section>
    {{ else }}
        {{# if messages.error }}
            <section class="alert alert-danger">
                <h3>{{ messages.error }}</h3>
            </section>
        {{/if}}
    {{/if}}

    <div id="u-main" class="u-main row">

        <!-- User name Header row -->
            <div class="u-name-header col-xs-12">
                <h2>ChrisHopper89</h2>
            </div>

        <!-- Main Content row -->
            <!-- Side Panel -->
            <div class="u-aside col-xs-12 col-sm-3" align="center">
                <!-- User Image -->
                <img alt="User Pic" src="../assets/images/avatar.png"
                     class="img-circle img-responsive">
                <h3>Jim Hopper</h3>
                <h4>jhop@gmail.com</h4>

                <!-- Side Nav -->
                <nav>
                    <button class="nav-o">
                        <div class="nav-o-container">
                            <h5><i class="fa fa-home" aria-hidden="true"></i> My Profile</h5>
                        </div>
                    </button>

                    <button class="nav-o">
                        <div class="nav-o-container">
                            <h5><i class="fa fa-comment-o" aria-hidden="true"></i> Comments</h5>
                        </div>
                    </button>

                    <button class="nav-o">
                        <div class="nav-o-container">
                            <h5><i class="fa fa-list" aria-hidden="true"></i> Follows</h5>
                        </div>
                    </button>

                    <button class="nav-o">
                        <div class="nav-o-container">
                            <h5><i class="fa fa-envelope" aria-hidden="true"></i> Inbox</h5>
                        </div>
                    </button>

                    <button class="nav-o">
                        <div class="nav-o-container">
                            <h5><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</h5>
                        </div>
                    </button>

                </nav>

            </div>

            <!-- Content Pages (On Right) -->
            <article class="col-xs-12 col-sm-9 u-pages">
                <section class="u-profile">
                    <h4>Profile </h4>

                    <hr>

                    <h5>Personal Info</h5>
                    <p>Username: <em>ChiefHopper86</em></p>
                    <p>Name: <em>Jim Hopper</em></p>
                    <p>University: <em>University of Toronto</em></p>

                    <hr>
                    <h5>User Stats</h5>
                    <p>Answered: <em>20</em></p>
                    <p>Comments: <em>25</em></p>
                    <p>Score: <em>205</em></p>



                </section>

            </article>




            <!-- Pages -->



    </div>

</div>

</div>
</div>
</main>
