<main id="solutions-main">
        <div class="container">
            <div class="jumbotron text-center">
                <h3><span class="fa fa-lock"></span> Verification</h3>

                <p>Login with:</p>
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
            </div>
        </div>
</main>