/*div {*/
    /*box-sizing: border-box;*/
/*}*/
main .search {
    width: 60%;
    min-height: 100%;
}

.search-cover {
    /*height: auto;*/
    padding-bottom: 10%;
}

.search-reduced {
    min-width: 60%;
}

/* For better viewing for mobile displays */
@media only screen and (max-width: 768px) {
    main {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    main .search {
        width: 80%;
    }
}

@media only screen and (max-width: 485px) {
    main .search {
        width: 100%;
    }
}


/*main #solutions {
    padding-top: 65px;
}*/



h2 {
font-family: 'Lato', sans-serif;
color: gray;
font-size: 2.5em;
margin: 4%;
padding-top: 200px;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.user-navbar {
    background-color: #f0f5f5;
}


.navbar-default-hi {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #CFCFCF;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}


.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    /*color: #f05f40;*/
}

.navbar-default .navbar-header .navbar-brand:hover ,
.navbar-default .navbar-header .navbar-brand:focus {
    /*color: #eb3812;*/
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    /*color: #f05f40;*/
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    /*color: #f05f40!important;*/
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

.navbar-default .dropdown-menu,
.notification-dropdown-menu{
    padding: 0;
}

.navbar-default .dropdown-menu li a {
    padding: 10px;
}

.notification-dropdown-menu li a {
    padding: 30px;
}

.navbar-default .dropdown-submenu .dropdown-menu {
    margin: 0;
}

/*.navbar-default .dropdown-submenu .dropdown-menu li a {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}*/


footer .navbar-default, .admin-navbar {
        border-color: rgba(255,255,255,.3);
        background-color: #333333;
}

footer .navbar-default .navbar-header .navbar-brand, .admin-navbar .navbar-header .navbar-brand {
    color: rgba(255,255,255,.7);
}

footer .navbar-default .nav > li>a, .admin-navbar .nav > li>a,
footer .navbar-default .nav>li>a:focus, .admin-navbar .nav > li> a:focus {
    color: rgba(255,255,255,.7);
}

footer .navbar-default .nav > li>a:hover, .admin-navbar .nav > li > a:hover,
footer .navbar-default .nav>li>a:focus:hover, .admin-navbar .nav>li>a:focus:hover {
    color: #fff;
}

footer .navbar-default .affix, .admin-navbar .affix {
    border-color: rgba(34,34,34,.05);
    background-color: #fff;
}

footer .navbar-default .affix .navbar-header .navbar-brand, .admin-navbar .affix .navbar-header {
    font-size: 14px;
}

footer .navbar-default .affix .nav > li>a, .admin-navbar .affix .nav > li>a,
footer .navbar-default .affix .nav>li>a:focus, .admin-navbar .affix .nav>li>a:focus {
    color: #222;
}

header {
    position: relative;
    width: 100%;
    min-height: 100%;
    text-align: center;
    /*color: #fff;*/
    background-image: url("/assets/images/main.jpg");
    /*background-color: #5bc0de;*/
    background-size: 250px 250px;
    background-position: center;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-size: cover;*/
    /*-o-background-size: cover;*/
}

header .header-spec {
    text-align: left;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

/*header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-family: 'Lato', sans-serif;
    color: red;
    font-size: 2.5em;
    /color: #333333
}*/



@media (min-width: 320px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;

        /* Shift search bar content up */
        padding-top: 14%;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
        color: #333333;
    }
    
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 32px;
        font-family: 'Lato', sans-serif;
        color: gray;
        font-size: 2.5em;
    }

    header .header-content-inner {  
        flex: 1;
        width: 60%;
        height: 100%;
        background-color: rgba(235,235,235, 0.7);
        padding-top: 22%;
        padding-bottom: 22%;
    }

}

.rounded {
    border-radius: 20px;
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}



/******************************************************/


.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad {
    margin-top:20px;
}

/****************************************/
/* user-profile-nav */
/* only children of navbar-custom are affected*/
.navbar-custom{
    background-color: #ffffff; /* Green */
    margin: 0 0 3px 0;
    text-decoration: none;
    font-size: 1em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px 10px 0px 0px;
}

.navbar-custom .navbar-toggle{
    border-color: #ddd;
}
.navbar-custom .navbar-toggle .icon-bar{
    background-color: #888;
}
.navbar-custom li a{
    padding: 12px;
}
.navbar-custom .navbar-nav li a:hover {
    background-color: #d9edf7;
    color: #3170a6;
}
/******************Alert Changes**************/
.custom-Alert{
    text-align: center;
    margin: 30px 12% 30px 12%;
    box-shadow: 2px 4px 5px 0 rgba(0,0,0,0.1);
}

/********************************************/
.follow-exam-btn{
    margin: 15px;
}

