
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: white;
	margin: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

h1{
    color: #333333;
}


main {
	
	background-image: url("../images/main.jpg");
	background-size: 250px 250px;
	text-align: center;
	width: 100%;
	min-height: 80%;
	/*position: relative;
	height: 80%;
	overflow: auto;*/
}

/* Changes - main is a flex container for search content*/
main{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column; /* Makes it grow vertically */
	/*padding-bottom: 5%;
	padding-top: 5%;*/
}


/* Changes - search is a flex container for h2 and bar, removed various attributes */
main .search {
	background-color: rgba(235,235,235, 0.7);
	overflow: auto;

}

/* Changes - added h2 styiling for main */
main .search h2{
	font-family: 'Lato', sans-serif;
	color: gray;
	font-size: 2.5em;
	margin: 4%;
	padding-top: 200px; /* Change to move search bar content. Keep as pixel*/
}

.search-select {
	display: inline-block;
}

.search-select select {
	color: black;
	width: 100px;
    padding: 5px;
	font-size: 16px;
	box-sizing: border-box;
	-webkit-appearance: none;
	background: url(../images/down.png) no-repeat lightgray;
	background-size: 20px 20px;
	background-position: 72px 9px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-right: -5px;
}

.search input[type=text] {
	display: inline;
    width: 250px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    border-radius: 10px;
    background-color: white;
    background-image: url('../images/search_icon.png');
    background-size: 20px 20px;
    background-position: 9px 9px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


.search input[type=text], .search-select select {
	height: 40px;
	border: 2px solid #ccc;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.search input[type=text]:focus {
    width: 50%;
}

main .search img {
	width: 50px;
	display: inline;
}




/*************************** END OF SEARCH - index.html *********************************/

/*************************** USER SOLUTIONS - user_solutions.html *********************************/

main div {
	background: none;
}

main button#add-solution {
	display: inline-block;
	background-color: #87B6A7; 
	color: white;
}

.top-sol {
    margin-top: 20px;
}

.show-path{
    margin-top: 10px;
}

main button#add-solution h3 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
}

main p.show-path {
	display: inline-block;
	color: #6f6f6f;
}

main #solutions {
	padding-top: 2%;
	text-align: left; 
	margin-left: 7%;
}

main [id^="sol-"] {
    text-align: left;
	color: #333;
	margin-top: 30px;
	margin-bottom: 30px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0;
}

main [id^="sol-"] .post-info {
    display: flex;
    justify-content: space-between;
	background: #F79F79; 
	padding-top: 2%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	padding-bottom: 5px;
    width: 100%;
}

main [id^="sol-"] img.user-image {
	border: 2px solid darkgray;
	margin-left: 25px;
}

.upvoting, .downvoting, .upvote, .downvote, .user-image, .username {
    display: inline-block;
}

main [id^="sol-"] p.username {
	vertical-align: middle;
}

main [id^="sol-"] button.upvote, [id^="sol-"] button.downvote {
	background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

main [id^="sol-"] button.upvote img, [id^="sol-"] button.downvote img {
	width: 30px;
	height: 30px;
}

main [id^="sol-"] p.num-downvotes, [id^="sol-"] p.num-upvotes {
	vertical-align: bottom;
}


main [id^="sol-"] p.username {
	margin-left: 10px;
}

main [id^="sol-"] p.num-downvotes {
	margin-right: 25px;
}

main [id^="sol-"] div.user-sol h3 {
    font-size: 1.17em;
	background-color: #f0e9e1;
	padding: 10px;
	padding-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
}

main [id^="sol-"] div.user-sol p{
	padding: 10px;
	margin: 0;
	background-color: white;
}

main [id^="sol-"] div.user-sol p img {
	width: 60%;
	height: auto;
}

main [id^="sol-"] div.comments { 
	background-color: #f0e9e1;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	padding: 10px;
}

main [id^="sol-"] div.comments h3 { 
    font-size: 1.17em;
	padding: 10px;
	padding-left: 20px;
	margin-top: 0;
	margin-bottom: 0;
}

main [id^="sol-"] div.comments ul li img {
	width: 40px;
	vertical-align: top;
}

main [id^="sol-"] div.comments ul li {
	background-color: white;
	border-radius: 10px;
	background-color: #F7D08A;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 2px 2px 0 #C2C2C2;
	box-shadow: 0 2px 2px 0 #C2C2C2;
	margin-bottom: 15px;
}

.comments ul {

}

main [id^="sol-"] div.comments ul li p.comment-username {
	margin-bottom: 0;
	margin-top: 5px;
}

main [id^="sol-"] div.comments ul li img.comment-user-image, li p.comment-username {
	display: inline-block;
}

main [id^="sol-"] div.comments ul li p.comment-username, li p.user-comment {
	vertical-align: top;
}

main [id^="sol-"] div.comments ul li * {
	padding: 5px;
}

main [id^="sol-"] div.comments ul li p.user-comment {
	margin: 0;
	background-color: white;
	border-radius: 5px;
}


/*************************** END OF USER SOLUTIONS - user_solutions.html *********************************/

/***********************************************************************************************************************/

/*THE SOLUTIONS PAGE BEGINS HERE*/
#solutions-header{
    color: #333333;
    font-family: 'Roboto', sans-serif;
}
#solutions-main{
    min-height: 100%;
    padding-top: 65px;
}

/*the section which holds each of the solutions*/
section.solutions-card{
    text-align: left;
    background-color: white;
    border-radius: 20px;
    width: 95%;
    margin-left: 2.5%;
    cursor: pointer;
}
/*the title of the course*/
h3.solutions-title{
    font-family: 'Roboto',sans-serif;
    font-size: large;
    color: #333333;
    margin-left: 5%;
    margin-bottom: 5px;
    padding-top: 20px;
}
/*the time of the examination*/
p.solutions-time{
    font-family: 'Roboto',sans-serif;
    font-size: medium;
    color: dimgrey;
    margin-left: 5%;
    margin-top: 0px;
    margin-bottom: 2px;
}
/*whether its a midterm or final exam*/
p.solutions-type{
    font-family: 'Roboto',sans-serif;
    font-size: medium;
    color: dimgrey;
    margin-left: 5%;
    margin-top: 0px;
    padding-bottom: 20px;
}

#solutions-footer{
    height: 13%;
}

/**********************************************************************************************************************/

.questions-number{
    font-family: 'Roboto',sans-serif;
    font-size: large;
    color: #333333;
    margin-left: 5%;
    margin-bottom: 5px;
    padding-top: 15px;
}
.questions-comment{
    font-family: 'Roboto',sans-serif;
    font-size: medium;
    color: dimgrey;
    margin-left: 5%;
    margin-top: 0px;
    padding-bottom: 15px;
}

/**********************************************************************************************************************/
/*THE USER-PROFILE PAGE BEGINS HERE*/
#user-profile-content{
    flex: 1;
    width: 60%;
    background-color: rgba(235,235,235, 0.6);

}

#user-menu-container{

    height: 100%;

    /* For column layout remove width below
       and add column class for container*/
    width: 25%;
    float: left;
}

#user-menu{
    padding: 3%;
    width: 100%;
}

#user-avatar{
    /* Center image display*/
    display: flex;
    justify-content: center;
    align-content: center;

    padding: 3%;
    background-color: white;
    border-radius: 15px;
    height: 200px;
    box-shadow: 7px 5px 10px #b3b3b3;

    /* top, right, bot, left */
    margin: 100px 10px 10px 10px;
}
#user-avatar img{
    max-width: 100%;
    height: auto;
    /*margin: 3px 3px 20px 3px;*/

}
#user-photo-edit{
    background-color: white;
    border-radius: 15px;
    height: auto;
    box-shadow: 7px 5px 10px #b3b3b3;
    margin: 10px 10px 10px 10px;
}

#user-options{
    background-color: white;
    border-radius: 15px;
    box-shadow: 7px 5px 10px #b3b3b3;
    margin: 10px 10px 10px 10px;
}

#user-info-container{
    display: flex;
    justify-content: center;
    align-content: center;

    /* For column layout remove width below
       and add column class for container*/
    width: 75%;
    float: left;
}

#user-info{
    background-color: white;
    border-radius: 15px;
    height: auto;
    width: 100%;
    box-shadow: 7px 5px 10px #b3b3b3;

    /* top, right, bot, left */
    margin: 110px 20px 20px 15px;

}
#user-info #user-name h1{
    padding: 20px;
    text-align: left;
    margin: 0;
    color: white;
    font-size: 1.5em;
}

#user-name{
    height: auto;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #73a195;
}
#user-content{
    min-height: 400px;
    text-align: left;

}
#user-content h2{
    margin: 0;
    color: gray;
    padding: 10px 10px 10px 10px;

}
#user-content p{
    padding: 0 10px 10px 50px;
    display: block;
    word-wrap: break-word;
}

#user-content em{
    font-weight: bolder;
    font-style: normal;
}
#user-content span{
    padding-left: 10px;
}

/* Button styles*/


[class^="menu-button"]{
    background-color: #ffffff; /* Green */
    width: 100%;
    border: none;
    color: #a4a4a4;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    border: solid #cfcfcf 1px;
}

[class^="menu-button"]:hover {
    background-color: #73a195;
    color: white;
}

.menu-button-first{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 0;
}
.menu-button-last{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 0;
}


.edit-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #979797;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
    border: solid #c7c7c7 3px;
    border-radius: 15px;
}

.edit-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.edit-button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.edit-button:hover span {
    padding-right: 25px;
}

.edit-button:hover span:after {
    opacity: 1;
    right: 0;
}

/********** !user-profile  *********/